In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
df_covid=pd.read_csv('/content/drive/MyDrive/FDA/COVID-19 Nursing Home Data 01.23.2022.csv')
df_covid

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (1,84,85) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

        Week Ending  ... Number of Healthcare Personnel Staying in this Facility for At Least 1 Day This Week who Received an Unspecified COVID-19 Vaccine Booster at Any Time
0          05/24/20  ...                                                NaN
1          05/31/20  ...                                                NaN
2          06/07/20  ...                                                NaN
3          06/14/20  ...                                                NaN
4          06/21/20  ...                                                NaN
...             ...  ...                                                ...
1346342    12/26/21  ...                                                NaN
1346343    01/02/22  ...                                                NaN
1346344    01/09/22  ...                                                NaN
1346345    01/16/22  ...                                                NaN
1346346    01/23/22  ...                                                NaN

[1346347 rows x 234 columns]

**Question 1 : Generate a table showing the  distribution of the number of nursing home facilities by state and county. (10 points)**

In [3]:
df_covid.groupby(['Provider State','County'],as_index=False)['Federal Provider Number'].nunique()

     Provider State            County  Federal Provider Number
0                AK         Anchorage                        3
1                AK            Bethel                        1
2                AK  Cordova-Mccarthy                        1
3                AK         Fairbanks                        2
4                AK            Juneau                        1
...             ...               ...                      ...
2892             WY        Sweetwater                        2
2893             WY             Teton                        1
2894             WY             Uinta                        1
2895             WY          Washakie                        1
2896             WY            Weston                        1

[2897 rows x 3 columns]

**Question 2: List the top 5 states by the number of nursing home facilities (10 points)**

In [4]:
c=df_covid.groupby(['Provider State'],as_index=False)['Provider Name'].nunique()
c.nlargest(5,'Provider Name')

   Provider State  Provider Name
45             TX           1225
4              CA           1182
36             OH            967
15             IL            718
9              FL            706

Question 3 : Conduct a facility and county level analysis on shortage of aides, clinical staff, nursing staff and other staff. Define the following metric for this analysis: number of weeks the shortage was experienced. The metric should be categorized into 3 categories, 0-10, 11-20 and >20 weeks. Sample output tables are show below (total number of tables = 4*2 = 8) (20 points) **bold text**

In [5]:
df_n=df_covid.loc[((df_covid['Shortage of Nursing Staff'] == "Y"))] 
n=df_n.groupby(["Provider Name"])["Week Ending"].count().reset_index(name="Week count")
n.loc[n['Week count'] <= 10, 'Number of Shortage weeks'] = '0-10'
n.loc[(n['Week count'] > 10) & (n['Week count'] <=20), 'Number of Shortage weeks'] = '11-20'
n.loc[n['Week count'] > 20, 'Number of Shortage weeks'] = '>20'
n[['Provider Name','Number of Shortage weeks']]

                                Provider Name Number of Shortage weeks
0                                15 CRAIGSIDE                     0-10
1                                  24TH PLACE                      >20
2                                     60 WEST                     0-10
3               A.G. RHODES HOME WESLEY WOODS                     0-10
4                A.G. RHODES HOME, INC - COBB                      >20
...                                       ...                      ...
10795                ZEARING HEALTH CARE, LLC                     0-10
10796  ZEBULON PARK HEALTH AND REHABILITATION                      >20
10797           ZEBULON REHABILITATION CENTER                     0-10
10798           ZERBE SISTERS NURSING CENTER,                     0-10
10799                    ZUMBROTA CARE CENTER                    11-20

[10800 rows x 2 columns]

In [6]:
df_c=df_covid.loc[((df_covid['Shortage of Clinical Staff'] == "Y"))] 
c=df_c.groupby(["Provider Name"])["Week Ending"].count().reset_index(name="Week count")
c.loc[c['Week count'] <= 10, 'Number of Shortage weeks'] = '0-10'
c.loc[(c['Week count'] > 10) & (c['Week count'] <=20), 'Number of Shortage weeks'] = '11-20'
c.loc[c['Week count'] > 20, 'Number of Shortage weeks'] = '>20'
c[['Provider Name','Number of Shortage weeks']]

                             Provider Name Number of Shortage weeks
0                               24TH PLACE                     0-10
1            A.G. RHODES HOME WESLEY WOODS                     0-10
2               A.G. RHODES HOME, INC, THE                     0-10
3     AARON MANOR NURSING & REHABILITATION                     0-10
4                         AASE HAUGEN HOME                     0-10
...                                    ...                      ...
7407          YUKON KUSKOKWIM ELDER'S HOME                     0-10
7408                         ZARROW POINTE                     0-10
7409              ZEARING HEALTH CARE, LLC                     0-10
7410         ZERBE SISTERS NURSING CENTER,                     0-10
7411                  ZUMBROTA CARE CENTER                     0-10

[7412 rows x 2 columns]

In [7]:
df_a=df_covid.loc[((df_covid['Shortage of Aides'] == "Y"))] 
a=df_a.groupby(["Provider Name"])["Week Ending"].count().reset_index(name="Week count")
a.loc[a['Week count'] <= 10, 'Number of Shortage weeks'] = '0-10'
a.loc[(a['Week count'] > 10) & (a['Week count'] <=20), 'Number of Shortage weeks'] = '11-20'
a.loc[a['Week count'] > 20, 'Number of Shortage weeks'] = '>20'
a[['Provider Name','Number of Shortage weeks']]

                                Provider Name Number of Shortage weeks
0                                15 CRAIGSIDE                     0-10
1                                  24TH PLACE                      >20
2                                     60 WEST                     0-10
3               A.G. RHODES HOME WESLEY WOODS                     0-10
4                A.G. RHODES HOME, INC - COBB                      >20
...                                       ...                      ...
11118                ZEARING HEALTH CARE, LLC                     0-10
11119  ZEBULON PARK HEALTH AND REHABILITATION                      >20
11120           ZEBULON REHABILITATION CENTER                     0-10
11121           ZERBE SISTERS NURSING CENTER,                     0-10
11122                    ZUMBROTA CARE CENTER                    11-20

[11123 rows x 2 columns]

In [8]:
df_os=df_covid.loc[((df_covid['Shortage of Other Staff'] == "Y"))] 
os=df_os.groupby(["Provider Name"])["Week Ending"].count().reset_index(name="Week count")
os.loc[os['Week count'] <= 10, 'Number of Shortage weeks'] = '0-10'
os.loc[(os['Week count'] > 10) & (os['Week count'] <=20), 'Number of Shortage weeks'] = '11-20'
os.loc[os['Week count'] > 20, 'Number of Shortage weeks'] = '>20'
os[['Provider Name','Number of Shortage weeks']]

                               Provider Name Number of Shortage weeks
0                               15 CRAIGSIDE                     0-10
1                                 24TH PLACE                      >20
2              A.G. RHODES HOME WESLEY WOODS                     0-10
3               A.G. RHODES HOME, INC - COBB                      >20
4                 A.G. RHODES HOME, INC, THE                     0-10
...                                      ...                      ...
9967                           ZARROW POINTE                     0-10
9968                ZEARING HEALTH CARE, LLC                     0-10
9969  ZEBULON PARK HEALTH AND REHABILITATION                      >20
9970           ZERBE SISTERS NURSING CENTER,                      >20
9971                    ZUMBROTA CARE CENTER                     0-10

[9972 rows x 2 columns]

In [9]:
df_nc=df_covid.loc[((df_covid['Shortage of Nursing Staff'] == "Y"))] 
nc=df_nc.groupby(["County"])["Week Ending"].count().reset_index(name="Week count")
nc.loc[nc['Week count'] <= 10, 'Number of Shortage weeks'] = '0-10'
nc.loc[(nc['Week count'] > 10) & (nc['Week count'] <=20), 'Number of Shortage weeks'] = '11-20'
nc.loc[nc['Week count'] > 20, 'Number of Shortage weeks'] = '>20'
nc[['County','Number of Shortage weeks']]

        County Number of Shortage weeks
0       Acadia                      >20
1     Accomack                     0-10
2          Ada                      >20
3        Adair                      >20
4        Adams                      >20
...        ...                      ...
1591      York                      >20
1592     Young                    11-20
1593      Yuba                     0-10
1594      Yuma                      >20
1595    Zapata                     0-10

[1596 rows x 2 columns]

In [10]:
df_cc=df_covid.loc[((df_covid['Shortage of Clinical Staff'] == "Y"))] 
cc=df_cc.groupby(["County"])["Week Ending"].count().reset_index(name="Week count")
cc.loc[cc['Week count'] <= 10, 'Number of Shortage weeks'] = '0-10'
cc.loc[(cc['Week count'] > 10) & (cc['Week count'] <=20), 'Number of Shortage weeks'] = '11-20'
cc.loc[cc['Week count'] > 20, 'Number of Shortage weeks'] = '>20'
cc[['County','Number of Shortage weeks']]

        County Number of Shortage weeks
0       Acadia                     0-10
1     Accomack                     0-10
2          Ada                      >20
3        Adair                     0-10
4        Adams                      >20
...        ...                      ...
1378      Yolo                     0-10
1379      York                      >20
1380     Young                     0-10
1381      Yuma                     0-10
1382    Zapata                     0-10

[1383 rows x 2 columns]

In [11]:
df_ac=df_covid.loc[((df_covid['Shortage of Aides'] == "Y"))] 
ac=df_ac.groupby(["County"])["Week Ending"].count().reset_index(name="Week count")
ac.loc[ac['Week count'] <= 10, 'Number of Shortage weeks'] = '0-10'
ac.loc[(ac['Week count'] > 10) & (ac['Week count'] <=20), 'Number of Shortage weeks'] = '11-20'
ac.loc[ac['Week count'] > 20, 'Number of Shortage weeks'] = '>20'
ac[['County','Number of Shortage weeks']]

        County Number of Shortage weeks
0       Acadia                      >20
1     Accomack                     0-10
2          Ada                      >20
3        Adair                      >20
4        Adams                      >20
...        ...                      ...
1602      York                      >20
1603     Young                    11-20
1604      Yuba                     0-10
1605      Yuma                      >20
1606    Zapata                     0-10

[1607 rows x 2 columns]

In [12]:
df_osc=df_covid.loc[((df_covid['Shortage of Other Staff'] == "Y"))] 
osc=df_osc.groupby(["County"])["Week Ending"].count().reset_index(name="Week count")
osc.loc[osc['Week count'] <= 10, 'Number of Shortage weeks'] = '0-10'
osc.loc[(osc['Week count'] > 10) & (osc['Week count'] <=20), 'Number of Shortage weeks'] = '11-20'
osc.loc[osc['Week count'] > 20, 'Number of Shortage weeks'] = '>20'
osc[['County','Number of Shortage weeks']]

        County Number of Shortage weeks
0       Acadia                     0-10
1     Accomack                     0-10
2          Ada                      >20
3        Adair                      >20
4        Adams                      >20
...        ...                      ...
1542      Yolo                     0-10
1543      York                      >20
1544     Young                     0-10
1545      Yuma                     0-10
1546    Zapata                     0-10

[1547 rows x 2 columns]

Conduct a facility and county level analysis for eye protection, gowns, gloves, N95 masks that will not be available in 7 days. Define the following metric for this analysis: number of times the shortage was experienced. The metric should be categorized into 3 categories, 0-10, 11-20 and >20 instances. Sample output tables are show below (total number of tables = 4*2=8) (20 points) **bold text**

In [13]:
df_r=df_covid.loc[((df_covid['N95 Respirator No Longer Available in 7 Days'] == "Y"))]
r=df_r.groupby(["Provider Name"])["N95 Respirator No Longer Available in 7 Days"].count().reset_index(name="Instances of Shortage")
r.loc[r['Instances of Shortage'] <= 10, 'Number of Instances of Shortage'] = '0-10'
r.loc[(r['Instances of Shortage'] > 10) & (r['Instances of Shortage'] <=20), 'Number of Instances of Shortage'] = '11-20'
r.loc[r['Instances of Shortage'] > 20, 'Number of Instances of Shortage'] = '>20'
r[['Provider Name','Number of Instances of Shortage']]

                                     Provider Name Number of Instances of Shortage
0                                     15 CRAIGSIDE                            0-10
1                     A.G. RHODES HOME, INC - COBB                            0-10
2                    ABBOTSFORD HEALTH CARE CENTER                            0-10
3          ABBYSHIRE PLACE SKILLED NSG & REHAB CTR                            0-10
4                   ABERCORN REHABILITATION CENTER                            0-10
...                                            ...                             ...
1334                 WOODSTOCK NURSING & REHAB CTR                            0-10
1335  WOODWARD HILLS HEALTH AND REHABILITATION CTR                            0-10
1336                     WYOMING RETIREMENT CENTER                            0-10
1337                      YORK GENERAL HEARTHSTONE                            0-10
1338                          YUCCA VALLEY NURSING                            0-10

[1339 rows x 2 columns]

In [14]:
df_gl=df_covid.loc[((df_covid['Gloves No Longer Available in 7 Days'] == "Y"))]
gl=df_gl.groupby(["Provider Name"])["Gloves No Longer Available in 7 Days"].count().reset_index(name="Instances of Shortage")
gl.loc[gl['Instances of Shortage'] <= 10, 'Number of Instances of Shortage'] = '0-10'
gl.loc[(gl['Instances of Shortage'] > 10) & (gl['Instances of Shortage'] <=20), 'Number of Instances of Shortage'] = '11-20'
gl.loc[gl['Instances of Shortage'] > 20, 'Number of Instances of Shortage'] = '>20'
gl[['Provider Name','Number of Instances of Shortage']]

                                Provider Name Number of Instances of Shortage
0                A.G. RHODES HOME, INC - COBB                            0-10
1               ABBOTSFORD HEALTH CARE CENTER                            0-10
2     ABBYSHIRE PLACE SKILLED NSG & REHAB CTR                            0-10
3              ABERCORN REHABILITATION CENTER                            0-10
4                            ABERDEEN HEIGHTS                            0-10
...                                       ...                             ...
1100    WOODLANDS SKILLED NURSING AND THERAPY                            0-10
1101                     WOODLAWN CARE CENTER                            0-10
1102            WOODSTOCK NURSING & REHAB CTR                            0-10
1103                WYOMING RETIREMENT CENTER                            0-10
1104                     YUCCA VALLEY NURSING                            0-10

[1105 rows x 2 columns]

In [15]:
df_e=df_covid.loc[((df_covid['Eye Protection No Longer Available in 7 Days'] == "Y"))]
e=df_e.groupby(["Provider Name"])["Eye Protection No Longer Available in 7 Days"].count().reset_index(name="Instances of Shortage")
e.loc[e['Instances of Shortage'] <= 10, 'Number of Instances of Shortage'] = '0-10'
e.loc[(e['Instances of Shortage'] > 10) & (e['Instances of Shortage'] <=20), 'Number of Instances of Shortage'] = '11-20'
e.loc[e['Instances of Shortage'] > 20, 'Number of Instances of Shortage'] = '>20'
e[['Provider Name','Number of Instances of Shortage']]

                                   Provider Name Number of Instances of Shortage
0                   A.G. RHODES HOME, INC - COBB                            0-10
1                  ABBOTSFORD HEALTH CARE CENTER                            0-10
2                 ABBY GARDENS HEALTHCARE CENTER                            0-10
3        ABBYSHIRE PLACE SKILLED NSG & REHAB CTR                            0-10
4                 ABERCORN REHABILITATION CENTER                            0-10
...                                          ...                             ...
1178                        WOODLAWN CARE CENTER                            0-10
1179               WOODSTOCK NURSING & REHAB CTR                            0-10
1180                   WYOMING RETIREMENT CENTER                            0-10
1181  YORKTOWN NURSING AND REHABILITATION CENTER                            0-10
1182                        YUCCA VALLEY NURSING                            0-10

[1183 rows x 2 columns]

In [16]:
df_g=df_covid.loc[((df_covid['Gowns No Longer Available in 7 Days'] == "Y"))]
g=df_g.groupby(["Provider Name"])["Gowns No Longer Available in 7 Days"].count().reset_index(name="Instances of Shortage")
g.loc[g['Instances of Shortage'] <= 10, 'Number of Instances of Shortage'] = '0-10'
g.loc[(g['Instances of Shortage'] > 10) & (g['Instances of Shortage'] <=20), 'Number of Instances of Shortage'] = '11-20'
g.loc[g['Instances of Shortage'] > 20, 'Number of Instances of Shortage'] = '>20'
g[['Provider Name','Number of Instances of Shortage']]

                                     Provider Name Number of Instances of Shortage
0                     A.G. RHODES HOME, INC - COBB                            0-10
1                    ABBOTSFORD HEALTH CARE CENTER                            0-10
2                   ABBY GARDENS HEALTHCARE CENTER                            0-10
3          ABBYSHIRE PLACE SKILLED NSG & REHAB CTR                            0-10
4                   ABERCORN REHABILITATION CENTER                            0-10
...                                            ...                             ...
1125                 WOODSTOCK NURSING & REHAB CTR                            0-10
1126  WOODWARD HILLS HEALTH AND REHABILITATION CTR                            0-10
1127                     WYOMING RETIREMENT CENTER                            0-10
1128                      YORK GENERAL HEARTHSTONE                            0-10
1129                          YUCCA VALLEY NURSING                            0-10

[1130 rows x 2 columns]

In [17]:
df_rc=df_covid.loc[((df_covid['N95 Respirator No Longer Available in 7 Days'] == "Y"))]
rc=df_rc.groupby(["County"])["N95 Respirator No Longer Available in 7 Days"].count().reset_index(name="Instances of Shortage")
rc.loc[rc['Instances of Shortage'] <= 10, 'Number of Instances of Shortage'] = '0-10'
rc.loc[(rc['Instances of Shortage'] > 10) & (rc['Instances of Shortage'] <=20), 'Number of Instances of Shortage'] = '11-20'
rc.loc[rc['Instances of Shortage'] > 20, 'Number of Instances of Shortage'] = '>20'
rc[['County','Number of Instances of Shortage']]

       County Number of Instances of Shortage
0      Acadia                            0-10
1         Ada                             >20
2       Adams                           11-20
3       Aiken                            0-10
4    Alamance                            0-10
..        ...                             ...
595   Yavapai                            0-10
596     Yazoo                            0-10
597      Yolo                             >20
598      York                            0-10
599      Yuma                            0-10

[600 rows x 2 columns]

In [18]:
df_glc=df_covid.loc[((df_covid['Gloves No Longer Available in 7 Days'] == "Y"))]
glc=df_glc.groupby(["County"])["Gloves No Longer Available in 7 Days"].count().reset_index(name="Instances of Shortage")
glc.loc[glc['Instances of Shortage'] <= 10, 'Number of Instances of Shortage'] = '0-10'
glc.loc[(glc['Instances of Shortage'] > 10) & (glc['Instances of Shortage'] <=20), 'Number of Instances of Shortage'] = '11-20'
glc.loc[glc['Instances of Shortage'] > 20, 'Number of Instances of Shortage'] = '>20'
glc[['County','Number of Instances of Shortage']]

      County Number of Instances of Shortage
0     Acadia                            0-10
1        Ada                           11-20
2      Adams                           11-20
3      Aiken                            0-10
4    Alameda                             >20
..       ...                             ...
526   Yakima                            0-10
527  Yavapai                            0-10
528     Yolo                             >20
529     York                            0-10
530     Yuma                            0-10

[531 rows x 2 columns]

In [19]:
df_ec=df_covid.loc[((df_covid['Eye Protection No Longer Available in 7 Days'] == "Y"))]
ec=df_ec.groupby(["County"])["Eye Protection No Longer Available in 7 Days"].count().reset_index(name="Instances of Shortage")
ec.loc[ec['Instances of Shortage'] <= 10, 'Number of Instances of Shortage'] = '0-10'
ec.loc[(ec['Instances of Shortage'] > 10) & (ec['Instances of Shortage'] <=20), 'Number of Instances of Shortage'] = '11-20'
ec.loc[ec['Instances of Shortage'] > 20, 'Number of Instances of Shortage'] = '>20'
ec[['County','Number of Instances of Shortage']]

       County Number of Instances of Shortage
0      Acadia                            0-10
1         Ada                             >20
2       Adams                           11-20
3       Aiken                            0-10
4    Alamance                            0-10
..        ...                             ...
528     Wythe                            0-10
529   Yavapai                            0-10
530      Yolo                             >20
531      York                            0-10
532      Yuma                            0-10

[533 rows x 2 columns]

In [20]:
df_gc=df_covid.loc[((df_covid['Gowns No Longer Available in 7 Days'] == "Y"))]
gc=df_gc.groupby(["County"])["Gowns No Longer Available in 7 Days"].count().reset_index(name="Instances of Shortage")
gc.loc[gc['Instances of Shortage'] <= 10, 'Number of Instances of Shortage'] = '0-10'
gc.loc[(gc['Instances of Shortage'] > 10) & (gc['Instances of Shortage'] <=20), 'Number of Instances of Shortage'] = '11-20'
gc.loc[gc['Instances of Shortage'] > 20, 'Number of Instances of Shortage'] = '>20'
gc[['County','Number of Instances of Shortage']]

         County Number of Instances of Shortage
0        Acadia                            0-10
1           Ada                             >20
2         Adams                           11-20
3       Alameda                             >20
4    Albermarle                            0-10
..          ...                             ...
517       Wythe                            0-10
518     Yavapai                            0-10
519        Yolo                             >20
520        York                            0-10
521        Yuma                            0-10

[522 rows x 2 columns]

**Question 5 : For Middlesex county in Massachusetts compute the hospital bed occupancy in percentage for each facility. How many facilities had 100 % of hospital bed occupancy? (10 points)**

In [21]:
df_covid['Percentage'] = df_covid['Total Number of Occupied Beds']/df_covid['Number of All Beds']*100
beds=df_covid.loc[((df_covid.County == "Middlesex") & (df_covid.Percentage == 100) & (df_covid['Provider State']=="MA"))]
beds['Provider Name'].nunique()

7

**Question 6: From question 5 list all the facilities that had filled to 100% capacity for three weeks or more (10 points)**

In [22]:
c1=beds.groupby(['Provider Name','County'],as_index=False)['Week Ending'].count()
c1.loc[c1['Week Ending']>=3,['Provider Name','Week Ending']]

                            Provider Name  Week Ending
1                      CARE ONE AT NEWTON            3
4  STONE REHABILITATION AND SENIOR LIVING           59

**Question 7: Generate a table showing the  distribution of the number of nursing home facilities by division. Use the US Census classification scheme for division**

In [24]:
div1=['ME','VT','NH','MA','CT','RI']
div2=['NY','PA','NJ']
div3=['MI','OH','IN','IL','WI']
div4=['IA','KS','MN','MO','NE','ND','SD']
div5=['WV','DC','MD','DE','VA','NC','SC','GA','FL']
div6=['KY','TN','MS','AL']
div7=['OK','AR','TX','LA']
div8=['MT','ID','WY','NV','UT','CO','AZ','NM']
div9=['WA','OR','CA','AK','HI']
df_covid['Provider State'].apply(lambda x: x.upper())
df_covid.loc[df_covid['Provider State'].isin(div1), 'Division'] = 'div1'
df_covid.loc[df_covid['Provider State'].isin(div2), 'Division'] = 'div2'
df_covid.loc[df_covid['Provider State'].isin(div3), 'Division'] = 'div3'
df_covid.loc[df_covid['Provider State'].isin(div4), 'Division'] = 'div4'
df_covid.loc[df_covid['Provider State'].isin(div5), 'Division'] = 'div5'
df_covid.loc[df_covid['Provider State'].isin(div6), 'Division'] = 'div6'
df_covid.loc[df_covid['Provider State'].isin(div7), 'Division'] = 'div7'
df_covid.loc[df_covid['Provider State'].isin(div8), 'Division'] = 'div8'
df_covid.loc[df_covid['Provider State'].isin(div9), 'Division'] = 'div9'
df_covid.groupby(['Division'],as_index=False)['Federal Provider Number'].nunique()

  Division  Federal Provider Number
0     div1                      873
1     div2                     1677
2     div3                     3021
3     div4                     2055
4     div5                     2404
5     div6                     1046
6     div7                     2040
7     div8                      806
8     div9                     1603